In [23]:
import pandas as pd
import numpy as np

ANOVA TABLE USING NUMPY AND PANDAS - no libraries

In [24]:
A=np.array([447,561,556,555,443,554])
B=np.array([552,558,436,556,512,440])
C=np.array([540,492,537,457,456,539])
D=np.array([488,454,543,543,550,548])
E=np.array([545,454,458,540,530,452])

In [25]:
dictQ2 = {"A":A,"B":B,"C":C,"D":D,"E":E}
dfQ2 = pd.DataFrame(dictQ2)

In [26]:
df1Q2 = dfQ2.melt()

In [27]:
df1Q2.columns

Index(['variable', 'value'], dtype='object')

In [28]:
df1Q2

   variable  value
0         A    447
1         A    561
2         A    556
3         A    555
4         A    443
5         A    554
6         B    552
7         B    558
8         B    436
9         B    556
10        B    512
11        B    440
12        C    540
13        C    492
14        C    537
15        C    457
16        C    456
17        C    539
18        D    488
19        D    454
20        D    543
21        D    543
22        D    550
23        D    548
24        E    545
25        E    454
26        E    458
27        E    540
28        E    530
29        E    452

In [29]:
df_treatments=df1Q2.variable.nunique(dropna = True)-1

In [30]:
df_treatments

4

In [31]:
df_total=df1Q2.value.count()-1

In [32]:
df_total

29

In [33]:
df_error=df_total-df_treatments

In [34]:
df_error

25

In [37]:
mean_a=np.mean(A)
mean_b=np.mean(B)
mean_c=np.mean(C)
mean_d=np.mean(D)
mean_e=np.mean(E)

In [38]:
mean_a

519.3333333333334

In [51]:
mean_tot=df1Q2.value.mean()

In [52]:
mean_tot

509.8666666666667

In [53]:
df1Q2.value

0     447
1     561
2     556
3     555
4     443
5     554
6     552
7     558
8     436
9     556
10    512
11    440
12    540
13    492
14    537
15    457
16    456
17    539
18    488
19    454
20    543
21    543
22    550
23    548
24    545
25    454
26    458
27    540
28    530
29    452
Name: value, dtype: int32

In [54]:
ss=sum([value**2 for value in df1Q2['value'].values])

In [55]:
ss

7861710

In [56]:
TSS=0
for i in df1Q2.value:
    TSS=TSS+((i-mean_tot)**2)

In [57]:
TSS

62789.46666666665

In [58]:
means_tr=np.array([mean_a,mean_b,mean_c,mean_d,mean_e])

In [63]:
sstr=0
for i in means_tr:
    sstr=sstr+len(A)*((i-mean_tot)**2)
    print(i)

519.3333333333334
509.0
503.5
521.0
496.5

In [65]:
sstr

2601.1333333333378

In [67]:
sse=TSS-sstr

In [72]:
sse

60188.333333333314

In [73]:
mean_sstr=sstr/df_treatments

In [74]:
mean_sse=sse/df_error

In [80]:
fcal=mean_sstr/mean_sse

In [81]:
sov=["treatment","error","total"]
doff=[df_treatments,df_error,df_total]
ssq=[sstr,sse,TSS]
mssq=[mean_sstr,mean_sse,np.nan]
fc=[fcal,np.nan,np.nan]

In [82]:
anova={"source of variation":sov, "df":doff,"sum squared":ssq,"mean sum squared":mssq,"f":fc}

In [83]:
anova_table = pd.DataFrame(anova)

In [84]:
anova_table

  source of variation  df   sum squared  mean sum squared         f
0           treatment   4   2601.133333        650.283333  0.270104
1               error  25  60188.333333       2407.533333       NaN
2               total  29  62789.466667               NaN       NaN