In [ ]:
#list- indexed , changable, square Bracket

In [1]:
a=["a","b"]
a

['a', 'b']

In [2]:
names=["Raj","Arjun","Priya","Kishore","Anu"]
#       0      1      2        3        4
#      -5     -4      -3       -2       -1
print(names)

['Raj', 'Arjun', 'Priya', 'Kishore', 'Anu']

In [3]:
names[0]

'Raj'

In [4]:
names[-1]

'Anu'

In [5]:
a.append("c")
print(a)
b=a.copy()
print(b)

['a', 'b', 'c']
['a', 'b', 'c']

In [7]:
del(a)

In [ ]:
#Tuple- You can not add or delete element from tuple i.e. it is unchangable
#Tuple is ordered also it is denoted by round braces

In [8]:
t1=(1,5,8,3,10,3)
print(t1)

(1, 5, 8, 3, 10, 3)

In [9]:
t1.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#sets- are not ordered and unindexed , and all elements will be unique,curly braces

In [ ]:
#dictionary- key value pair, changable and indexed, curly braces

In [10]:
d1={"Name":"Hema", "Class":"12th", "Gender":"Female"}

In [ ]:
#2 types of DF 
#1 series (1 dimensional Data)
#2 Dataframe / tabular (2 Dimensional Data)

In [12]:
import pandas as pd

In [22]:
x=1,2,3,4,5,6,
print(type(x))
m=pd.DataFrame(x)
m

<class 'tuple'>

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [17]:
n=pd.Series(x)
n

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [21]:
m.shape

(6, 1)

In [23]:
n.shape

(6,)

In [24]:
n[3]

4

In [28]:
m[0]

0    1
1    2
2    3
3    4
4    5
5    6
Name: 0, dtype: int64

In [29]:
m[0][0]

1

In [30]:
m.sum()

0    21
dtype: int64

In [31]:
n.sum()

21

In [38]:
m.min()

0    1
dtype: int64

In [37]:
m.max()

0    6
dtype: int64

In [35]:
n.min()

1

In [36]:
n.max()

6

In [43]:
A=[1,2,3,4,5]
B=[3,5,7,8,9]
C=[4,5,6,3,2]

In [44]:
d1={"A":A,"B":B,"C":C}

In [ ]:
#value of dict cannot be single value it shld be array

In [45]:
d1

{'A': [1, 2, 3, 4, 5], 'B': [3, 5, 7, 8, 9], 'C': [4, 5, 6, 3, 2]}

In [46]:
import pandas as pd

In [47]:
pd.DataFrame(d1)

   A  B  C
0  1  3  4
1  2  5  5
2  3  7  6
3  4  8  3
4  5  9  2